{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Checkout
{% endblock %}

{% block content %}
    <p>

        You have finished the study. Thank you for taking your time! 
        In order to receive your payment you must copy and paste the 
        following code back to Amazon Mechanical Turk:

        <pre>{{exit_code}}</pre>

        Your payment will be processed within the next 24 hours. If you 
        encounter problems submitting this HIT, please search for a HIT 
        called "ETH Descil Trouble Ticket" and report your problem there. <br>

    </p>
    <br><br>

{% endblock %}


