{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Your role and decision
{% endblock %}

{% block content %}
    <p>
        You are the <strong>proposer</strong>.
    </p>

    <p>
        The two of you have been given {{ Constants.endowment }}. Enter the amount that you want to offer to the responder.
    </p>

    {% formfield group.amount_offered label="How much would you like to offer?" %}

    <p>
            <!-- .otree-btn-next is the CSS/jQuery selector for this button -->
            
            <button class="otree-btn-next btn btn-primary">Next</button>
    </p>

    {% include Constants.instructions_template %}

{% endblock %}

{% block scripts %}
<script>
    function AdvanceParticipantByID(who) {
        participant_id = who.attr('id')
        console.log('Clicked on user: ' + participant_id);
        sendmessage(who)
        flashGreen($('#' + participant_id).parent())
    };
</script>
{% endblock %}